.story p {
	font-size: 20px;
}

.story .cell {
	padding: 5px;
}

.story .headshot {
	width: 275px;
	height: 500px;
	padding: 0px;
	position: relative;
	/*border-radius: 70px;*/
	background-position: 50% 28%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.headshot[data-role='bride'] {
	background-image:url('/img/danielle_tinder.png');
}

.headshot[data-role='groom'] {
	background-image:url('/img/eric_tinder.png');
}

.story .body p {
	font-family: sans-serif;
	font-size: 16px;
}