.hotel_prices span {
	text-align: center;
}

#accommodations button {
	font-size: 21px;
	padding: 10px;
	margin: 0 auto;
	background-color: #93002A;
}

button a {
	color: white;
}

button:hover {
	background-color: white;
	color: #93002A;
}